
        body {
            background-color: aqua;
        }
        p {
            color: white;
            background-color: rgb(71, 66, 60);
        }

        .deux{
            background-color: blue;
        }
